@use "sass:math";
@use "functions" as *;

@mixin text($scale: 0, $need-line-height: true) {
  $scale: $scale * -1;
  $font-size: get-font-scale($config-fs-scale-base + $scale);
  $line-height: $font-size + $config-line-gap;
  font-size: rem($font-size);
  @if $need-line-height {
    line-height: strip-unit(math.div($line-height, $font-size));
  }
}

@mixin mq-medium {
  @media screen and (min-width: rem(640px)) {
    @content;
  }
}

@mixin mq-wide {
  @media screen and (min-width: rem(980px)) {
    @content;
  }
}
